aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.3.3
cycler==0.12.1
dotenv==0.9.9
fonttools==4.59.2
frozenlist==1.7.0
idna==3.10
kiwisolver==1.4.9
matplotlib==3.10.6
multidict==6.6.4
nextcord==3.1.1
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pillow==11.3.0
propcache==0.3.2
pyparsing==3.2.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
rankedutils @ git+https://github.com/Nadoms/ranked-utils.git@fe2f401de25e6e61fe7a4a84a3998632247335e1
requests==2.32.5
seaborn==0.13.2
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
yarl==1.20.1
